/****************************************************
Adjustments to pico.css
*****************************************************/

@media (min-width: 32rem) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
    }
}

input:not([type=checkbox], [type=radio]),
select,
textarea {
    margin-bottom: 0;
    text-align: center;
}

[type=checkbox]~label,
[type=radio]~label {
    margin: 0;
}

label {
    display: flex;
    align-items: center;
}

/****************************************************
My styles, note: 1rem = 20px
*****************************************************/

.body-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    width: 780px;
    height: 600px;
    --img-flexwrap-item-width: 20.3rem;
    --img-flexwrap-gap: 0.5rem;
    border: 1px solid gray;
}

.my-header {
    padding: 0;
    align-items: center;
    background-color: var(--card-sectionning-background-color);
    border-bottom: var(--border-width) solid var(--card-border-color);
}

.select-all-container {
    align-self: end;
    justify-self: start;
    margin-left: 0.76rem;
    margin-bottom: 0.5rem;
}

.select-all {
    margin-bottom: 0;
}

.center-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-heading>* {
    margin: 0;
}

.logo {
    width: 2rem;
    height: 2rem;
    margin-right: 0.8rem;
}

.logo-svg {
    position: relative;
    width: 50px;
    height: 50px;
    top: -5px;
    left: -5px;
}

.settings-btn {
    border-radius: 50%;
    height: 40px;
    margin: 6px;
    padding: 8px;
    width: 40px;
    justify-self: end;
    border: none;
    color: var(--h4-color);
    line-height: 0;
}

.settings-btn:hover {
    background-color: rgba(232, 234, 237, 0.078);
}

.gear-icon {
    fill: currentColor;
}

.my-main {
    position: relative;
    padding: 0;
    overflow: auto;
}

.get-images-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
}

.get-images-btn {
    width: 10rem;
}

.edit-settings {
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8rem;
}

.img-flexwrap {
    display: flex;
    flex-wrap: wrap;
    gap: var(--img-flexwrap-gap);
    padding: var(--img-flexwrap-gap);
}

.flex-item {
    width: var(--img-flexwrap-item-width);
    border: 1px solid gray;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--card-sectionning-background-color);
}

.select-img {
    padding: 0.23rem 0.25rem;
    margin: 0;
}

.img-container {
    width: var(--img-flexwrap-item-width);
    height: var(--img-flexwrap-item-width);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-preview {
    background-image: var(--my-transparency-indicator);
    background-size: 26px 26px;
    background-position: 0 0, 13px 13px;
    background-repeat: repeat;
    max-height: 100%;
}

.download-btn {
    margin: 0;
    border-radius: 0;
}

.settings-header {
    padding: 1rem;
    margin-bottom: 1rem;
}

.settings-h3 {
    margin: 0;
}

.settings-footer {
    padding: 0.8rem;
    margin-top: 0;
}

.settings-footer>button {
    width: auto;
}

.settings-form {
    display: grid;
    grid-template-columns: 11rem 5.4rem 0.4rem 5.4rem;
    grid-template-rows: repeat(6, auto);
    row-gap: 15px;
    column-gap: 5px;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 1.6rem;
}

.size-x {
    align-self: start;
    padding-top: 0.2rem;
}

.setting-description {
    font-size: 0.7rem;
    color: #888888;
}

.num-input {
    max-width: 6rem;
    max-height: 2rem;
    align-self: start;
}

.units-label {
    justify-self: center;
}

.toggle-switch {
    justify-self: center;
    align-self: start;
}

.margin-top-5 {
    margin-top: 0.25rem;
}

.img-details {
    padding-left: 1.5rem;
    padding-bottom: 0.3rem;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 90%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: white;
}

.gray-bg {
    background-color: rgb(117 117 117);
}

.dark-gray-bg {
    background-color: rgb(65, 71, 73);
}

.yellow-bg {
    background-color: var(--my-warning-badge);
}

.img-checkbox {
    flex-shrink: 0;
}

.img-name {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-size {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.img-type {
    text-transform: uppercase;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -0.26rem;
}

.info-svg-icon {
    position: relative;
    top: -0.2rem;
    width: 1rem;
    height: 1rem;
}

.popover-btn {
    all: unset;
    cursor: help;
    pointer-events: all;
}

[popover] {
    position: fixed;
    inset: 0;
    width: 15rem;
    height: fit-content;
    margin: auto;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.25rem 0.5rem;
    overflow: hidden;
    color: var(--tooltip-color);
    background-color: var(--tooltip-background-color);
    cursor: help;
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: 0.875rem;
    text-decoration: none;
}

.loading-container {
    padding-bottom: 2rem;
}

.loading-panel {
    display: grid;
    grid-template-columns: 87px 1fr;
    grid-template-rows: min-content;
    column-gap: 5px;
    font-size: 0.9rem;
    padding: 1rem 2rem 0rem 2rem;
}

.loading-panel>span {
    align-self: start;
    justify-self: end;
}

.loader-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.loader-div {
    display: inline-block;
    width: 8px;
    height: 25px;
    margin: 1px;
    border-radius: 2px;
}

.blue-border {
    border: 1px solid var(--primary)
}

.yellow-border {
    border: 1px solid var(--my-warning-badge);
}

.blue-background {
    background-color: var(--primary);
}

.yellow-background {
    background-color: var(--my-warning-badge);
}

.error-modal>span {
    font-size: 1rem;
    color: var(--tooltip-color);
    background-color: var(--tooltip-background-color);
    padding: 0.6rem 2rem;
    border-radius: 4px;
}